.offering-container {
  justify-content: center;
}

.offering {
  max-width: 120px;
  min-width: 120px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
  color: black;
  background-color: var(--ion-color-medium);
}

.offering > .offering-row {
  text-align: center;
}

.offering.offering-selected {
  opacity: 1;
  background-color: var(--ion-color-primary);
}

.offering-badge {
  position: absolute;
  z-index: 2;
  right: 0;
  font-weight: normal;
  left: 50%;
  width: 70px;
  margin-left: 10px;
}

.offering-price {
  font-weight: bold;
  background-color: var(--ion-color-medium-tint);
}

.offering-price-per-month {
  font-size: small;
  background-color: var(--ion-color-medium-tint);
}

.offering.offering-selected > .offering-price,
.offering.offering-selected > .offering-price-per-month {
  background-color: var(--ion-color-secondary);
}

.subscribe-container {
  text-align: center;
  padding-top: 40px;
}

.subscribe-details {
  font-size: x-small;
}
