.rate-green-1 {
  background-color: #66bb6a50;
}

.rate-green-2 {
  background-color: #51945450;
}

.rate-green-3 {
  background-color: #3b6b3d50;
}

.rate-red-1 {
  background-color: #eb445a50;
}

.rate-red-2 {
  background-color: #af354550;
}

.rate-red-3 {
  background-color: #83273350;
}
