@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes pop-in {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.pop-in-animate {
  -webkit-animation: pop-in 0.5s;
  -moz-animation: pop-in 0.5s;
  -ms-animation: pop-in 0.5s;
  animation: pop-in 0.5s;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tab-selected > ion-icon,
.tab-selected > ion-label {
  color: var(--ion-color-primary) !important;
  --ion-color-base: var(--ion-color-primary) !important;
}

ion-card,
ion-card-subtitle {
  color: var(--ion-text-color);
}

.fab-button-in-list {
  width: 50px;
  height: 50px;
}

.fab-button-in-list ion-icon {
  font-size: 24px !important;
}

.info-top-popover {
  margin-left: -95px !important;
}

.info-top-popover .driver-popover-tip {
  left: 125px;
}

#driver-highlighted-element-stage {
  background-color: #66bb6a !important;
  border-radius: 35px !important;
  opacity: 0.5;
}

.info-right-popover {
  margin-left: -155px !important;
}

.info-right-popover .driver-popover-tip {
  right: 107px;
}

.blue-background .app-background {
  background-color: #4c4177;
  background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
  --background: none;
}
