.firebaseui-container {
  background: transparent !important;
}

.firebaseui-input,
.firebaseui-label,
.firebaseui-title,
.firebaseui-subtitle,
.firebaseui-text {
  color: var(--ion-text-color) !important;
}

.firebaseui-form-actions
  .mdl-button--primary.mdl-button--primary.firebaseui-button {
  color: var(--ion-color-primary) !important;
}
.firebaseui-form-actions
  .mdl-button--raised.mdl-button--colored.firebaseui-button {
  background: var(--ion-color-primary) !important;
  color: black !important;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label:after {
  background-color: var(--ion-color-primary) !important;
}

.firebaseui-textfield.mdl-textfield .firebaseui-input {
  border-color: var(--ion-border-color) !important;
}
